<div class="card">
  <%= image_tag git_hub_user.avatar_url, alt: "Person", class: "card-image" %>
  <p class="card-name"><%= git_hub_user.name %></p>
  <p class="card-username"><%= git_hub_user.username %></p>
  <div class="grid-container">
    <div>
      <%= pluralize(git_hub_user.followers, 'Follower', 'Followers') %>
    </div>
    <div>
      <%= git_hub_user.following %> Following
    </div>
  </div>
  <ul class="social-icons">
    <li>
      <%= link_to "https://github.com/#{git_hub_user.username}", target: "_blank",  data: { "bs-toggle": "tooltip", "bs-placement": "left" }, title: "Visit GitHub profile" do %>
        <i class="fab fa-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to git_hub_user_repo_path(git_hub_user), remote: true, method: :post, data: { "bs-toggle": "tooltip", "bs-placement": "right" }, title: "Fetch user repos" do %>
        <i class="fas fa-database"></i>
      <% end %>
    </li>
        <li>
      <%= link_to git_hub_user_path(git_hub_user), remote: true, method: :delete, data: { "bs-toggle": "tooltip", "bs-placement": "right", confirm: "Are you sure" }, title: "delete user" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  </ul>
  <%= link_to("Details", git_hub_user_path(git_hub_user), class: "btn-card draw-border") %>
  <%= button_tag "Compare", class: "btn-card draw-border", data: { compare: "#{git_hub_user.id}" } %>
</div>
